<div>
    <div class="jumbotron bg-dark homeJumbotron text-light">
        <div class="p-3">
            <h1 class="display-4">Hello, Guys!</h1>
            <p class="lead">This is simply a simple blog where you may write whatever you like.</p>
            <hr class="my-4">
            <p>Do write anything your mind or brain thinks, and let the world know your opinions and ideas. Make a better society in which racism and cruelty have no place. Our goal is to make the world a better place. For that we have faith in each and everyone of you.</p>
            <p class="lead">All we ask is a little respect for everyone in this planet.</p>
            <h4>Give Respect Take Respect...😌</h4>
        </div>
    </div>
</div>