<div>
    <div class="jumbotron bg-dark homeJumbotron text-light">
        <div class="p-3">
            <h1 class="display-4 homeHead">Hello, Guys!</h1>
            <p class="lead homeLead">This is simply a simple blog where you may write whatever you like.</p>
            <hr class="my-4">
            <p>Do write anything your mind or brain thinks, and let the world know your opinions and ideas. Make a better society in which racism and cruelty have no place. Our goal is to make the world a better place. For that we have faith in each and everyone of you.</p>
            <p class="lead homeLead">All we ask is a little respect for everyone in this planet.</p>
            <h5>Give Respect Take Respect...😌</h5>
            <br />
            <p class="lead">Last but not Least....</p>
            <h4>We welcome you to the world of <b class='blogify'>Blogify...</b>🤓</h4>
        </div>
    </div>
</div>