/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    background: #09203f;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(bgi.jpg);
  }

  .showBtnDiv{
    display: contents !important;
  }

  .showHeaderDiv{
    margin-top: auto;
    margin-bottom: auto;
  }


  .showPostHeader{
    margin-top: auto;
    margin-bottom: auto;
  }
  /* Adjusting navbar opacity */
  .navbg.bg-dark {
    --bs-bg-opacity: 0.6;
  }
  
  /* Listcard background and text(blog/index) */
  .listCard{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    color: azure;
    font-size: 1.75rem
  }
  
  .listHead{
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    color: azure;

  }

  /* Listcard background and text(blog/index) */
  .showCard{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    color: azure;

  }

  .customAlert{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: azure;
  }

  /* form edit */
  .form{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    color: azure;

  }

  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  

  /* Devise form cutomization */
  .deviseCardBody{
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    color: azure;
    
  }

  .deviseCard{
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    color: azure;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .showCard {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }

  .listHead{
    background-color: #a06d6da5;
  }
  
  .listHeader{
    margin: 20px;
  }

  .listCard{
    background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  /* Clear floats after the columns */
  .showCardRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  .homeJumbotron{
     --bs-bg-opacity: 0.8;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }


  @media screen and (max-width: 821px) {
    
    body {
      background-image: url(bgi-ipad.jpg);
    }

    .listHeader, .h1{
      font-size: 28px !important;
    }

    .add-btn{
      height:33px
    }

    .listCard, .p{
      font-size: 20px !important;
    }

    .showBtn{
      /* color: #212529; */
      color: #ddd;
      font-weight: 500;
      line-height: 1.5;
    }

   
  }


  @media screen and (max-width: 1025px) {

    body {
      background-image: url(bgi-ipad-pro.jpg);
      min-height: 100vh;
    }
  }

  @media screen and (max-width: 821px) {

    body {
      background-image: url(bgi-ipad-mini.jpg);
      min-height: 100vh;
    }
  }


  @media screen and (max-width: 415px) {

    body {
      background-image: url(bgi-ph.jpg);
      background-size: cover;
      min-height: 100vh;
    }

    .sessionCard{
      width: 24.5rem !important;
    }

    .showHeaderDiv{
      display: inline-block;
      white-space: nowrap; 
      width: 260px; 
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .homeHead{
      font-size: 24px !important;
    }

    .homeLead{  
      font-size: 18px !important;
    }

    .homePara{
      font-size: 16px !important;
    }
  }

  .blogify{
    background: #D63CC1;
    background: linear-gradient(to right, #D63CC1 24%, #1DCFAB 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media screen and (max-width: 376px) {

    body {
      background-image: url(bgi-ph-2.jpg);
      background-size: cover;
      min-height: 100vh;
    }

    .sessionCard{
      width: 22rem !important;
    }

    .listHeader, .h1{
      font-size: 24px !important;
    }

    .add-btn{
      height:27px
    }

    .showHeaderDiv{
      font-size: 18px !important;
    }

    .showBtn{
      /* color: #212529; */
      color: #ddd;
      font-weight: 400;
      line-height: 1.5;
      font-size:0.8rem !important
    }

    .authorName{
      font-size: 14px !important;
    }

    .editImg{
      height:25px
    }

    .showPostHeader{
      font-size: 24px;
    }

    .showHeaderDiv{
      display: inline-block;
      white-space: nowrap; 
      width: 230px; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }