<%# <div class="alert alert-warning customAlert" role="alert">
    <%= notice%>
<%# </div> %>



<div class="alert alert-warning alert-dismissible fade show customAlert" role="alert">
  <strong><%= notice%></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

